body {
    padding-top: 70px;
    background-color: #eeeeee;
}

footer {
    margin: 50px 0;
}

.login {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1030;
    max-width: 320px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.7));
}

.bg {
    filter: none;
}

/* ページネーション */
.pager li .active_link {
    background: #337AB7;
    color: #fff;
}







@keyframes move02 {
    0% {
        left: -5px;
        top: 0;
        background-color: #000000;
    }
    10% {
        left: 290px;
        top: 0;
        background-color: #555555;
    }
    20% {
        left: 290px;
        top: 250px;
        background-color: #999999;
    }
    30% {
        left: -5px;
        top: 250px;
        background-color: #bbbbbb;
    }
    50% {
        left: -5px;
        top: 0;
        background-color: #000000;
    }
    70% {
        left: 290px;
        top: 0;
        background-color: #eeeeee;
    }
    90% {
        left: 290px;
        top: 250px;
        background-color: #ffffff;
    }
    100% {
        left: -5px;
        top: 250px;
        background-color: #000000;
    }
}

#anime {
    position: relative;
}
#anime span {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 40px;
    background-color: #ff6600;
    position: absolute;
    left: 0;
    top: 0;
    animation: move02 3s linear infinite alternate;
}